<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Digit Docs</span>
  <div class="divider"></div>
  <div class="user-info" *ngIf="user$ | async as user">
    <span>{{ user.firstName}} {{user.lastName}}</span>
  </div>
</mat-toolbar>

<div class="wrapper">
  <div class="upload-doc">

    <div class="file-wrapper">
      <div class="image-input">
        <p-button *ngIf="filesToUpload.length"
                  label="Save file"
                  icon="pi pi-save"
                  [loading]="!!(isFileLoading$ | async)"
                  (click)="uploadFile()">
        </p-button>
        <label for="image-input" style="position:relative;">
          <p-button *ngIf="!filesToUpload.length"
                    label="Select file"
                    (onClick)="$event.preventDefault()"
                    icon="pi pi-plus">
          </p-button>
          <input type="file"
                 id="image-input"
                 (change)="onFileSelect($event)">
        </label>
      </div>
      <div>
        <ul *ngIf="filesToUpload.length">
          <li> {{ filesToUpload[0].name }}</li>
        </ul>
      </div>
    </div>
  </div>

  <p-dataView #dv
              *ngIf="files$ | async as files"
              [value]="files || []"
              layout="list">
    <ng-template pTemplate="header">
      <h2 style="text-align: center">Your documents</h2>
    </ng-template>
    <ng-template let-doc pTemplate="listItem">
      <div class="doc-list-item">
        <div>{{doc.originalName}}</div>
        <button mat-raised-button (click)="viewDocument(doc.uuid)">Preview</button>
      </div>
    </ng-template>
  </p-dataView>
</div>

<p-dialog #dialog
          [(visible)]="isAttachPopupVisible"
          [draggable]="false"
          [closable]="true"
          [closeOnEscape]="true"
          [modal]="true"
          [style]="{width: '50vw', height: '70vh'}"
>
  <h2 [style]="{'text-align': 'center' }">Congrats your file is uploaded</h2>
  <h3 [style]="{'text-align': 'center' }">Now choose who can have access to it</h3>

  <h3 [style]="{'text-align': 'center' }"><i class="pi pi-check-circle circle-check"></i></h3>

  <div class="autocomplete-wrap">
    <span class="p-fluid" [style]="{width: '400px' }">
    <p-autoComplete [(ngModel)]="selectedUsersToAttach"
                    [suggestions]="allUsersToAttach"
                    [forceSelection]="true"
                    [showEmptyMessage]="true"
                    [completeOnFocus]="true"
                    [minLength]="2"
                    (completeMethod)="getUsersToAttach($event)"
                    placeholder="Type an email.."
                    field="lastName"
                    [multiple]="true">

      <ng-template let-user pTemplate="item">
        <div class="flex align-items-center gap-2">
           <div>{{ user.email }} </div>
          <div>{{ user.firstName }} {{ user.lastName }}</div>
        </div>
      </ng-template>

    </p-autoComplete>
    </span>

    <button mat-raised-button [disabled]="!selectedUsersToAttach.length" (click)="attachAllowedUsers(dialog, $event)"> Submit</button>
  </div>
</p-dialog>
