<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Digit Docs</span>
  <div class="divider"></div>
  <div class="user-info" *ngIf="user$ | async as user">
    <span>{{ user.firstName}} {{user.lastName}}</span>
  </div>
</mat-toolbar>

<div class="wrapper">
  <div class="upload-doc">
    <p-fileUpload name="file"
                  [multiple]="true"
                  (onUpload)="onUpload($event)"
                  [url]="fileUploadLink"
                  [maxFileSize]="1000000">
      <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
      </ng-template>
    </p-fileUpload>
  </div>

  <p-dataView #dv
              *ngIf="files$ | async as files"
              [value]="files || []"
              layout="list">
    <ng-template pTemplate="header">
      <h2 style="text-align: center">Your documents</h2>
    </ng-template>
    <ng-template let-doc pTemplate="listItem">
      <div class="doc-list-item">
        <div>{{doc.originalName}}</div>
        <button mat-raised-button (click)="viewDocument(doc.uuid)">Preview</button>
      </div>
    </ng-template>

  </p-dataView>
</div>
