/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.authorization-card.mat-card {
  padding: 25px;
  border-radius: 15px;
}

.snackbar_error {
  background: #f34336;
  color: white;
}

.snackbar_success {
  background: #72b944;
  color: white;
}

p-dataview {
  width: 100vw;
}

.doc-list-item {
  height: 80px;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    flex-basis: 25%;
  }
  &:hover {
    background: lightgrey;
  }
}
